body{
    margin: 0;
    padding: 0;
    background: gray;
}
#nav{
    width: 100%;
    height: 70px;
    background: rgba(255,255,255,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}
#menu{
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: 10px;
    transition: all 1.5s;
    cursor: pointer;
}
#menu:hover{
    transform: rotate(360deg);
}
.bar{
    width: 80%;
    height: 10px;
    background: black;
    margin: 5px auto;
}
#screen-mode {
    background: skyblue;
    margin-right: 50px;
    width: 100px;
    height: 35px;
    border-radius: 20px;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #circle-btn {
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }
#profile {
    background: tomato;
    width: 50px;
    height: 50px;
    margin-right: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
#profile img {
    width: 100%;
    height: 100%;
}
#title{
    width: 100%; 
    height: 200px; 
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    background: rgba(185, 127, 3, 0.247);
    font-size: 20px;
}
#center{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#sub-title{
    width: 100%; 
    height: 70%; 
    text-align: center;    
}

#search{
    width: 100%;
    height: 30%;
    text-align: center;

}
#search input{
    all: unset;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    text-align: left;
    color: yellowgreen;
    background: white;
}
#search input::placeholder{
    color: yellowgreen;
    font-size: 15px;
} 
#category{
    width: 1200px;
    background: orange;
    border-radius: 15px;
    background: rgba(255,255,255,0.5);
    text-align: center;
    margin: 20px auto;
    font-size: 0;
}

.photo{
    width: 360px;
    height: 240px; 
    margin: 20px;
    display: inline-block;
    background: skyblue;
    box-sizing: border-box;
    border-radius: 15px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
}
.photo_card{
    width: 100%;
    height: 180px;
    text-align: center;
    line-height: 140px;
    overflow: hidden;

}
.photo_card img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}
.photo_name{
    height: 60px;
    background: rgb(224, 224, 224,0.5);
    text-align: center;
    line-height: 60px;
    border-radius: 0px 0px 15px 15px ;
}

@media screen and (max-width:1200px) {
    #title{
        width: 100%;
    }
    #category{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    .photo{
        width: 26%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 2%;
        margin-left: 2%;
        border: 1px solid red;
    }
    .photo_card{
        width: 100%;
    }
    .photo_name{
        width: 100%;
    }
    #search{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:1110px) {
    .photo{
        width: 28%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media screen and (max-width:600px) {
    #title{
        width: 100%;
    }
    #category{
        width: 96%;
    }
    .photo{
        width: 42%;
    }
    .photo_card{
        width: 100%;
    }
    .photo_name{
        width: 100%;
    }

    #search{
        width: 100%;
        text-align: center;
    }
    .photo_card:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
      }
      .photo_card:nth-child(2n+1) {
        margin-right: 3%;
    }
}

@media screen and (max-width:450px) {
    #title{
        width: 100%;
    }
    #category{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    #search{
        width: 100%;
        text-align: center;
    }
    #search input{
        width:80%;
    }
    #profile{
        margin-right: 10px;
    }
    #screen-mode{
        margin-right: 10px;
    }
    .photo{
        width: 90%;
        display: inline-block;
    }
}

@media screen and (max-width:400px) {
    .photo{
        width: 90%;
        display: inline-block;
    }
  

    #center{
        height: 80%;
    }
    .photo_card:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
      }
    .photo_card:nth-child(2n+1) {
        margin-right: 2%;
    }
}


